<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name="system"></include>
</run>
</groups>
<listeners>
<listener class-name="genericUtility.ListenerImplementationClass"></listener>
</listeners>
  <test  name="Test">
    <classes>
      <class name="com.tryp.one_way.Package_ChackoutTest"/>
      <class name="com.tryp.trips.Travellers_checkoutTest"/>
      <class name="com.tryp.trips.PackageTest"/>
      <class name="com.tryp.trip_stay.AccommodationTest"/>
      <class name="com.tryp.one_way.ChangeTransport_CheckoutTest"/>
      <class name="com.tryp.trip_stay.Home_Checkout"/>
      <class name="com.tryp.trip_stay.Package_BookmarkTest"/>
      <class name="com.tryp.trips.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
